alembic==1.18.5
annotated-types==0.8.0
anyio==4.15.1
blinker==1.9.0
cbor2==6.1.4
cffi==2.1.1
click==8.4.2
cryptography==50.0.1
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
greenlet==3.5.3
gunicorn==21.2.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore2==2.13.0
httpx2==2.13.0
hyperframe==6.1.0
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
packaging==26.3
psycopg==3.3.6
psycopg-binary==3.3.6
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyMySQL==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.32
semver==3.1.0
SQLAlchemy==2.0.51
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.16.0
vercel==0.11.3
vercel-cache==0.7.5
vercel-headers==0.7.2
vercel-internal-core==0.2.0
vercel-internal-telemetry==0.8.0
vercel-oidc==0.9.0
vercel-queue==0.9.0
vercel-sandbox==0.6.0
vercel-workflow==0.10.2
websockets==16.1.1
Werkzeug==3.1.8
WTForms==3.2.2
zstandard==0.25.0
