{% extends 'base.html' %}

{% block content %}

<section class="hero">

<h1>Quality Agricultural Machinery & Spare Parts</h1>


<p>
    Posho Mills, Chaff Cutters, Maize Shellers,
    Water Pumps, Generators, Refrigerators
    and Genuine Spare Parts.
</p>

<a href="#" class="btn">
    Shop Now
</a>

</section>

<section class="categories">

<h2>Product Categories</h2>

<div class="category-grid">

    <div class="card">Posho Mills</div>

    <div class="card">Maize Shellers</div>

    <div class="card">Chaff Cutters</div>

    <div class="card">Grass Mowers</div>

    <div class="card">Power Saws</div>

    <div class="card">Generators</div>

    <div class="card">Water Pumps</div>

    <div class="card">Refrigerators</div>

    <div class="card">Spare Parts</div>

</div>

</section>

{% endblock %}
